@model FizzBuzzMVC.Models.FizzBuzz


<div action="container col-xxl-8 px-4 py-5 mt-5">
    <div class="row gy-2 h-100 row-cols-md-2 row-cols-1">
        <div class="col border-2 border-end">
            <h1 class="fw-bold lh-1 mb-3">FizzBuzz</h1>
            <h4 class="lead">
                Print Fizz for the numbers that are divisible by the first number.Buzz will be printed
                for the numbers divisible by the second number, FizzBuzz for the numbers divisible by both and simply
                print the number if it is not divisible by either.
            </h4>

            <h2 class="mt-5 border-bottom border-2">Instructions</h2>
            <p>
                Enter 2 numbers. The first number will be used to evaluate Fizz.
                The second number will be used to evaluate Buzz and FizzBuzz will be determined based on the 
                combination of the 2 numbers.
            </p>
        </div>
        <div class="col">
            <div>
                <h5>Enter numbers</h5>
                @* Form goes here *@
                <form asp-controller="Home" asp-action="FBuzz" method="post">
                    <div class="form-group">
                        <label asp-for="FizzValue">Fizz Value</label>
                        <input type="number" asp-for="FizzValue" class="form-control" placeholder="Enter Fizz"
                        value="@Model.FizzValue" />
                    </div>
                    <div class="form-group">
                        <label asp-for="BuzzValue">Buzzzz Value</label>
                        <input type="number" asp-for="BuzzValue" class="form-control" placeholder="Enter Buzz" value="@Model.BuzzValue" />
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
                <h2 class="mt-5 border-bottom border-2">Results</h2>
                <div class="table-responsive">
                    @* Table goes here *@
                    @if(@Model.Result.Count > 0)
                    {
                        <table class="table-striped table-hover table table-dark">
                            <thead>
                                <tr><th colspan="5">Fizz Buzz Results</th></tr>
                            </thead>
                            @for (int i = 0; i < Model.Result.Count; i+=5)
                            {
                                <tr><td>@Model.Result[i]</td><td>@Model.Result[i + 1] </td>
                                    <td>@Model.Result[i + 2]</td> <td>@Model.Result[i + 3] </td>
                                    <td>@Model.Result[i + 4] </td></tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>


</div>
